<nav>
    <ul>{# {{ path('main_home') }} : c'est ce qu'il faut utiliser pour un lien #}
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('main_about') }}">About</a></li>
        <li><a href="{{ path('wish_list') }}">Liste d'idées</a></li>
        <li><a href="{{ path('wish_create') }}">Nouvelle idée</a></li>
    </ul>
</nav>

